.article--container {
  display: flex;
  flex-direction: column;
}

.article-title {
  font-weight: 600;
  font-size: 2.2rem;
}

.article-image {
  height: auto;
  width: 60%;
  margin: 1rem auto;
}

.article-text {
  margin: 0.5rem;
}

button {
  background: none;
  border: 5px solid #000000;
  font-size: 2rem;
  height: 3.5rem;
  width: 7rem;
  margin: 1rem;
}

button:hover {
  background: #000000;
  color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .article-title {
    font-size: 1.5rem;
  }
}